@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .box-decorator {
    @apply inline-flex items-center space-x-2 rounded-sm px-1 align-middle;
  }
}
@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}
}
